@using Classes

@page "/strongpassword"

<h3>Validate Strong Password</h3>

<div class="mb-2">
    <input @bind="password" @onkeyup="Enter" type="text" placeholder="Password" required="required" />
    <button @onclick="ValidateStrongPassword">Validate Strong Password</button>
</div>

<div class="mt-2">
    <span>@result.ToString()</span>
</div>

<code>
    <a target="_blank" href="https://gist.github.com/NajiElKotob/ab698cbf38682044ec34ed51ad87aced">ValidateStrongPassword.cs</a>
</code>

@code {
    private string EnterCode = "Enter";
    private string password { get; set; } = string.Empty;
    private bool result { get; set; }

    private void ValidateStrongPassword()
    {
        result = Classes.StrongPassword.ValidateStrongPassword(password);
    }

    private void Enter(KeyboardEventArgs e)
    {
        if (e.Key == EnterCode)
        {
            ValidateStrongPassword();
        }
    }
}
